@import url('https://fonts.googleapis.com/css?family=Lato|Sree+Krushnadevaraya|Noto+Sans+TC:100,300,400,500,700,900');

body{
  font-size: 62.5%;
  font-family: lato;
  margin: 0 auto;
}

a{
  text-decoration:none;
  color:black;
}

.all{
  margin-left: 20px;
}

.banner {
  border-top: 10px solid #0000;
  border-bottom:15px solid #1C3963;
  margin-top: 0px;
  width:100%;
  background-image: url(images/banner.jpg);
  background-size: cover;
  background-position: center;
  height:350px;
}

.banner h2{
    font-family:'Noto Sans TC';
    font-weight:400;
    display: flex;
    justify-content: center;
    font-size: 12em;
    color: white;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.close{
  width:30px;
  margin: 15px 0;
}

.container {
  display: flex;
  justify-content:space-around;
  flex-flow: row wrap;
  margin: 0 auto;
  width:100%;
  overflow: hidden;
}

.filterDiv {
  position: relative;
  margin: 2%;
  overflow: hidden;
  margin-top: 20px;
  width: 35%;
  display: none;
  margin-bottom:30px;
}

.filterDiv img {
  max-width: 100%;
}

.filterDiv img:hover{
    -webkit-filter: grayscale(100%);
    transform: scale(1.01);
}

.filterDiv .name{
  margin-top:-5px;
  padding-left: 5px;
}

.filters {
  padding: 0 150px;
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: 0.5s;
  background-color: #00B5E3;
}

.filters img{
  margin-left: 300px;
  width:20px;
}

footer {
  margin-top:50px;
  margin-bottom: 30px;
  text-align: center;
}

h1 img{
  width:100px;
  margin-left: 48%;
}

h2{
  font-size: 1.8em;
}

h4{
  margin: 0;
  font-size: 1.8em;
}

.info{
  padding: 5px;
  display:flex;
  justify-content: space-between;
}

.mainPage {
  width:1200px;
  margin:0 auto;
}

.mainPage h2 {
    margin-left: 20px;
}

p {
  font-size: 1.4em;
  margin:0;
}

.secondaryHeader{
  width:100%;
  height:55px;
  background-color:#1C3963;
}

.show {
  display: block;
}

.time{
  margin-left:0;
}

video{
  width:800px;
}
